p {
	color: navy;
}

p.info {
	font-size: 10pt;
	font-size: small;
	background-color: #dfdfdf
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	font-family: cursive;
    color: #3f3faf;
    background: linear-gradient(to right,white, #ffefaf);
}

div#zentai {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 1024px;
}

div#zentai > div {
	height: 200px;
    padding: 5px;
    background-color: #ffefaf;
}

div#zentai > div > img {
    float: right;
    margin-right: 10px;
}